<div class="row" id="table-striped-dark">
  <div class="col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="mb-3 d-flex">
            <button routerLink="/admin/user/create" class="btn btn-primary"><i class="bi bi-person-fill-add"></i> Create
              User</button>
            <!-- <button routerLink="/admin/user/create" class="btn btn-info" style="margin-left: 10px;">Refresh</button> -->
          </div>
          <div class="row">
            
            <div class="col-md-8">
              <div class="mb-3 d-flex ">
                <p style="text-align: center; ;" class="d-flex align-items-center justify-content-center">Show &nbsp;</p>
                <fieldset class="form-group" style="width: 80px;">
                  <select [(ngModel)]="filter.perPage" (change)="changePerPage($event)" class="form-select"
                    id="basicSelect">
                    <option value=10>10</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                  </select>
                </fieldset>
                <p style="text-align: center; ;" class="d-flex align-items-center justify-content-center">&nbsp; entries</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-3">
                  <button  class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-search"></i> {{ filter.search }} </button>
                  <ul class="dropdown-menu" >
                      <li><a class="dropdown-item" (click)="selectedSearch(ISearch.NAME)">Name</a></li>
                      <li><a class="dropdown-item" (click)="selectedSearch(ISearch.EMAIL)">Email</a></li>
                  </ul>
                  <input (keyup.enter)="getUsers(1)" type="text" [(ngModel)]="filter.searchValue" class="form-control" placeholder="Find user here by {{ filter.search }}" aria-label="Text input with dropdown button">
                  <!-- <button  class="btn btn-primary" (click)="getUsers(1)">Search</button> -->
              </div>
            </div>
          </div>
        
       

          <div class="table-responsive">
            @if (!isLoading) {
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>NAME</th>
                  <th>EMAIL</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                @for (user of users; track user.id; let no = $index;) {
                <tr>
                  <td class="text-bold-500">
                    {{ (no + 1) + ((pagination.currentPage * pagination.perPage) - pagination.perPage) }}</td>
                  <td class="text-bold-500">{{ user.name }}</td>
                  <td class="text-bold-500">{{ user.email }}</td>
                  <td>
                    <a [routerLink]="['/admin/user/update', user['id']]" href="#" class="btn icon btn-outline-dark"><i
                        class="bi bi-pencil-fill"></i></a>
                    <a href="#" class="btn icon btn-outline-danger" style="margin-left: 5px;"><i
                        class="bi bi-trash3-fill"></i></a>
                    <!-- <span class="badge bg-secondary">Edit</span>
                      <span class="badge bg-danger" style="margin-left: 5px;">Delete</span> -->
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <div class="py-3">
              <div class="row">
                <div class="col-4">
                  <span style="font-size: 16px;">Showing
                    {{ (pagination.currentPage * pagination.perPage) - pagination.perPage + 1 }} to
                    {{ pagination.currentPage * pagination.perPage }} of {{ pagination.totalItems }} entries</span>
                </div>
                <div class="col-8">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end">
                      <li class="page-item" [className]="pagination.currentPage == 1 ? 'disabled' : ''">
                        <a class="page-link" href="#"
                          [routerLink]="['/admin/user', { page:pagination.currentPage - 1, perPage : pagination.perPage}]"
                          tabindex="-1">Previous</a>
                      </li>
                      @for (page of pagination.pages; track i; let i = $index) {
                      <li class="page-item" [className]="page == pagination.currentPage ? 'active' : ''">
                        <a class="page-link"
                          [routerLink]="['/admin/user', { page: page,  perPage : pagination.perPage }]"
                          href="#">{{  page }}</a>
                      </li>
                      }
                      <li class="page-item">
                        <a class="page-link"
                          [routerLink]="['/admin/user', { page: pagination.currentPage + 1, perPage : pagination.perPage}]"
                          href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            } @else {
              <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th>NO</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody >
                  @for (load of skeletonLoading; track i; let i = $index) {
                    <tr class="placeholder-glow">
                      <td style="width: 75px;height: 55px;" class=""><span class="placeholder col-12 bg-light"></span></td>
                      <td class=""><span class="placeholder col-12 bg-light"></span></td>
                      <td class=""><span class="placeholder col-12 bg-light"></span></td>
                      <td style="width: 200px;" class=""><span class="placeholder col-12 bg-light"></span></td>
                    </tr>
                  }
                
                </tbody>
              </table>
                <!-- <span class="placeholder col-6"></span> -->
                
          

            <!-- <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p> Loading ...</p> -->
            }
          </div>
        </div>
        <!-- table strip dark -->
      </div>
    </div>
  </div>
</div>
