/* You can add global styles to this file, and also import other style files */

@import url('./assets/extensions/simple-datatables/style.css');

@import url('./assets/compiled/css/table-datatable.css');
@import url('./assets/compiled/css/app.css');
@import url('./assets/compiled/css/app-dark.css');
/* @import url('./assets/compiled/css/auth.css'); */
/* @import url('./assets/compiled/css/iconly.css'); */




